# Objective

To understand the key concepts of association rule mining using the `mlxtend` package.

In [1]:
! pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.8/dist-packages (0.14.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.17.1->mlxtend) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)

In [2]:
import random

import pandas as pd

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [3]:
random.seed(20130810)

# Dataset

We create a transaction dataset based on the items available for sale in a grocery store.

In [4]:
grocery_items = ['toor dal', 
                 'rice', 
                 'bread',
                 'ghee',
                 'sooji',
                 'jeera',
                 'salt',
                 'poha',
                 'cake mix',
                 'rava',
                 'wheat flour',
                 'all purpose flour',
                 'urad dal',
                 'pigeon peas',
                 'kidney beans',
                 'masoor dal']

In [5]:
MAX_LEN_BASKET = 5
NUM_TRANSACTIONS = 10000

In [6]:
dataset = [random.sample(grocery_items, k=random.choice(range(2, MAX_LEN_BASKET+1)))
           for _ in range(NUM_TRANSACTIONS)]

In [7]:
dataset[0:5]

[['poha', 'pigeon peas', 'kidney beans', 'rava'],
 ['all purpose flour', 'jeera', 'salt'],
 ['kidney beans', 'ghee', 'all purpose flour', 'pigeon peas', 'rice'],
 ['toor dal', 'rice'],
 ['sooji', 'pigeon peas', 'ghee', 'rice']]

This data set can now be parsed into a series of transactions as mentioned in the [manual for the mlxtend package](http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/).

In [8]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   all purpose flour  10000 non-null  bool
 1   bread              10000 non-null  bool
 2   cake mix           10000 non-null  bool
 3   ghee               10000 non-null  bool
 4   jeera              10000 non-null  bool
 5   kidney beans       10000 non-null  bool
 6   masoor dal         10000 non-null  bool
 7   pigeon peas        10000 non-null  bool
 8   poha               10000 non-null  bool
 9   rava               10000 non-null  bool
 10  rice               10000 non-null  bool
 11  salt               10000 non-null  bool
 12  sooji              10000 non-null  bool
 13  toor dal           10000 non-null  bool
 14  urad dal           10000 non-null  bool
 15  wheat flour        10000 non-null  bool
dtypes: bool(16)
memory usage: 156.4 KB

We will use the dataframe `df` for the rest of the notebook.

## All itemsets with a minimum support of 1% using the `apriori` function from `mlxtend`.

In [10]:
frequent_itemsets = apriori(df, 
                            min_support=0.01, 
                            use_colnames=True)

In [11]:
frequent_itemsets

     support                 itemsets
0     0.2273      (all purpose flour)
1     0.2185                  (bread)
2     0.2152               (cake mix)
3     0.2211                   (ghee)
4     0.2187                  (jeera)
..       ...                      ...
131   0.0434        (sooji, urad dal)
132   0.0417     (sooji, wheat flour)
133   0.0390     (urad dal, toor dal)
134   0.0423  (wheat flour, toor dal)
135   0.0406  (wheat flour, urad dal)

[136 rows x 2 columns]

## All the itemsets with a minimum support of 2%, how many have a length equal to 2? (Use the `apriori` function from `mlxtend`)

In [12]:
frequent_itemsets = apriori(df, 
                            min_support=0.02, 
                            use_colnames=True)

In [13]:
frequent_itemsets.head()

   support             itemsets
0   0.2273  (all purpose flour)
1   0.2185              (bread)
2   0.2152           (cake mix)
3   0.2211               (ghee)
4   0.2187              (jeera)

In [14]:
filter_condition = (frequent_itemsets.itemsets.apply(len) == 2)

In [15]:
frequent_itemsets[filter_condition]

     support                           itemsets
16    0.0455         (bread, all purpose flour)
17    0.0409      (cake mix, all purpose flour)
18    0.0415          (all purpose flour, ghee)
19    0.0434         (all purpose flour, jeera)
20    0.0420  (all purpose flour, kidney beans)
..       ...                                ...
131   0.0434                  (sooji, urad dal)
132   0.0417               (sooji, wheat flour)
133   0.0390               (urad dal, toor dal)
134   0.0423            (wheat flour, toor dal)
135   0.0406            (wheat flour, urad dal)

[120 rows x 2 columns]

## All association rules with minimum support of 0.5% and mininum confidence of 0.2

In [16]:
frequent_itemsets = apriori(df, 
                            min_support=0.005, 
                            use_colnames=True)

In [17]:
rules = association_rules(frequent_itemsets, 
                          metric="confidence", 
                          min_threshold=0.2)

In [18]:
filter_condition = (rules.lift >= 1)

In [19]:
rules[filter_condition]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
35,"(cake mix, kidney beans)",(toor dal),0.0391,0.2142,0.0086,0.219949,1.026839,0.000225,1.00737